.quiz-page {
  background-color: #00b140;
  width: 100%;
}

svg {
  max-width: 300px;
  min-width: 300px;
}

svg path.blob-1 {
  d: path("M40.2,-44.8C52.8,-37.4,64.1,-25.3,71,-9.2C77.8,7,80.2,27.3,72.6,43.2C65,59.1,47.4,70.6,30.5,71.5C13.5,72.3,-2.9,62.6,-19.9,55.9C-36.9,49.2,-54.5,45.4,-67.3,33.7C-80.1,22.1,-88.1,2.6,-86.1,-16.4C-84.2,-35.3,-72.4,-53.7,-56.4,-60.6C-40.4,-67.4,-20.2,-62.6,-3.2,-58.9C13.8,-55.1,27.6,-52.3,40.2,-44.8Z");
}

svg path.blob-2 {
  d: path("M44,-49.5C57.9,-40.7,70.7,-27.7,74.5,-12.2C78.3,3.2,73.1,21.2,61.4,29.8C49.7,38.5,31.6,37.8,16.4,42C1.1,46.3,-11.3,55.7,-26.1,56.7C-40.9,57.8,-58.1,50.6,-64,38.1C-70,25.5,-64.7,7.5,-62.6,-12.2C-60.5,-31.9,-61.6,-53.3,-51.7,-62.8C-41.8,-72.4,-20.9,-69.9,-2.9,-66.4C15,-62.9,30.1,-58.3,44,-49.5Z");
}

svg path.blob-3 {
  d: path("M46.3,-56.6C57.7,-45.7,62.8,-28.9,62.3,-13.6C61.8,1.6,55.7,15.1,48.6,28.6C41.4,42.1,33.3,55.6,21.7,60C10.1,64.4,-5,59.7,-21.9,55.5C-38.8,51.4,-57.5,47.7,-67,36.3C-76.4,24.9,-76.4,5.7,-72.8,-12.4C-69.1,-30.6,-61.7,-47.6,-49,-58.3C-36.2,-68.9,-18.1,-73.2,-0.3,-72.8C17.5,-72.5,35,-67.5,46.3,-56.6Z")
}

svg path.blob-4 {
  d: path("M45.3,-47.5C59.8,-41.8,73.4,-28.6,75.7,-13.7C78,1.3,68.9,17.9,58.7,32.3C48.5,46.7,37.2,58.9,23.5,63.3C9.8,67.8,-6.2,64.5,-22.1,59.3C-37.9,54.1,-53.5,47,-65.9,34C-78.3,20.9,-87.5,1.9,-86.4,-17.1C-85.3,-36.2,-73.9,-55.4,-57.8,-60.7C-41.7,-66.1,-20.8,-57.6,-2.7,-54.4C15.4,-51.2,30.8,-53.1,45.3,-47.5Z")
}

svg path.blob-5 {
  d: path("M39.9,-47.9C51.3,-37.9,59.9,-25,64.5,-9.8C69,5.5,69.6,23,63.1,38.5C56.6,54.1,43.1,67.7,28.1,70.1C13.1,72.5,-3.5,63.7,-15.1,54C-26.6,44.3,-33.3,33.7,-46,21.7C-58.6,9.7,-77.4,-3.6,-77.7,-15.8C-78,-27.9,-59.9,-38.9,-43.9,-48C-27.9,-57.1,-13.9,-64.5,0.1,-64.6C14.2,-64.8,28.5,-57.8,39.9,-47.9Z")
}

svg path.blob-6 {
  d: path("M32,-33.7C43.5,-28.5,56.2,-20.3,60.8,-8.6C65.4,3.1,61.8,18.3,55.8,35.6C49.9,52.8,41.5,72,27.4,78.6C13.2,85.2,-6.7,79.3,-18.4,67.6C-30.1,56,-33.5,38.6,-42.9,24C-52.3,9.3,-67.8,-2.7,-70.9,-17.3C-74.1,-32,-65,-49.3,-51.1,-54.1C-37.2,-58.9,-18.6,-51.2,-4.2,-46.2C10.2,-41.2,20.5,-38.9,32,-33.7Z")
}

svg path.blob-7 {
  d: path("M55.8,-60.3C69.9,-54.7,77.4,-34.8,75.2,-17.7C72.9,-0.5,61.1,14,51.5,29C41.9,44,34.6,59.6,20.8,70.4C7,81.1,-13.4,87,-27.3,79.8C-41.2,72.7,-48.5,52.5,-49.1,35.9C-49.8,19.3,-43.6,6.3,-42.2,-8.5C-40.8,-23.3,-44.2,-40,-37.9,-47C-31.7,-54,-15.8,-51.4,2.5,-54.4C20.8,-57.4,41.7,-66,55.8,-60.3Z")
}

svg path, svg text {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

svg text {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

.players {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #438dce;
  width: min-content;
  min-width: 215px;
  margin-left: 32px;
  padding-right: 16px;
  transform: skew(0deg, -10deg) scale(1);
  margin: 8px 0;
}

.player.current {
  background-color: #fcf753;
  transform: skew(0deg, -10deg) scale(1.1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.player .header.player-name, .player .header.player-score {
  margin: 0;
  padding: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #fcf753;
}

.player.current .header.player-name, .player.current .header.player-score {
  color: #438dce;
}